fastapi
uvicorn
pydantic-settings
python-dotenv
pytest
pytest-asyncio
httpx
hypothesis
python-socketio
deepgram-sdk

# Authentication
python-jose[cryptography]
passlib[bcrypt]

# MongoDB
motor
email-validator
pandas

# Vnstock runtime dependencies
beautifulsoup4
ipython
plotly
pytesseract

# Google Sheets
gspread
gspread-asyncio
google-auth
python-dateutil

# Redis
redis

# Stock Catalog
vnstock

# Image Upload
cloudinary
python-magic

# LangChain
langchain-core==1.2.16
langchain-community==0.4.1
langchain-openai==1.1.10
langchain==1.2.10
langgraph==1.0.10
langgraph-checkpoint-mongodb==0.3.1

# MCP Integration
ddgs[mcp]
langchain-mcp-adapters==0.2.1
